.movieList {
    width: 592px;
    height: 400px;
    border-radius: 5px;
    border: 2px solid #8acfd5;
    margin: 10px auto;
}
.close {
    background: #fff;
    border-radius: 5px;
    float: right;
}
.movieToList {
    text-align: left;
    width: 500px;
    border: none;
    padding: 2px;
    margin: 0;
}
.movieItem {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background: #fff;
}