.movie {
    width: 500px;
    height: 23px;
    padding-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid #8acfd5;
    border-radius: 5px;
}
.button {
    border: 2px solid #8acfd5;
    border-radius: 5px;
    background: #ffffff;
    padding: 5px 5px;
}